@tailwind base;
@tailwind components;
@tailwind utilities;
.herobg {
	background: linear-gradient(#0000008e, #0000008a), url("../images/herobg.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
/* The switch - the box around the slider */
.switch {
	position: relative;
	display: inline-block;
	width: 45px;
	height: 23px;
}

/* Hide default HTML checkbox */
.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

/* The slider */
.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 15px;
	width: 15px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}
.slide::after {
	background-color: black;
}
input:checked + .slider {
	background-color: #374151;
}

input:checked + .slider:before {
	-webkit-transform: translateX(23px);
	-ms-transform: translateX(22px);
	transform: translateX(23px);
}

/* Rounded sliders */
.slider.round {
	border-radius: 0.25rem;
}

.slider.round:before {
	border-radius: 0.25rem;
}
.hero {
}
